<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Magento_Backend::content_elements">
                        <resource id="Exam_News::author" title="Blog Authors" translate="title" sortOrder="99">
                            <resource id="Exam_News::author_save" title="Edit And Save Author" sortOrder="10" />
                            <resource id="Exam_News::author_delete" title="Delete Author" sortOrder="20" />
                        </resource>
                        <resource id="Exam_News::category" title="Blog Categories" translate="title" sortOrder="101">
                            <resource id="Exam_News::category_save" title="Edit And Save Category" sortOrder="10" />
                            <resource id="Exam_News::category_delete" title="Delete Category" sortOrder="20" />
                        </resource>
                        <resource id="Exam_News::post" title="Blog Posts" translate="title" sortOrder="102">
                            <resource id="Exam_News::post_save" title="Edit And Save Post" sortOrder="10" />
                            <resource id="Exam_News::post_delete" title="Delete Post" sortOrder="20" />
                        </resource>
                        <resource id="Exam_News::tag" title="Blog Tags" translate="title" sortOrder="105">
                            <resource id="Exam_News::tag_save" title="Edit And Save Tag" sortOrder="10" />
                            <resource id="Exam_News::tag_delete" title="Delete Tag" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Exam_News::config_blog" title="News Management" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
